<html>
	<head>
	</head>
	<body>
		Hello, <h5><%= name %></a></h5>
		<p>You have asked to reset your password for Time loggy. To reset your password, please click on the following link:<br><br>
			<a href="<%= resetUrl %>"><%= resetUrl %></a></p>
		<p>Or just copy and paste that link and enter your code as <br><br><%= resetUrl %>.</p>
		<b>Thanks!</b><br><br>
		<b>From:</b> The dobzin
	</body>
</html>
