<html>
	<head>
	</head>
	<body>
		Hello, <h5><%= name %></a></h5>
		</p><u>This</u> is where everything goes for <i>activate</u>. Please click on the following URL:<br><br>
		<a href="<%= activateURL %>"><%= activateURL %></a></p>
		<br><br>
		<b>Thanks!</b>
		<br><br>
		<b>From:</b> dobzin
	</body>
</html>
